<!DOCTYPE html>
<html>
<head>
  <title>TicTacToeRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jQueryRotate.2.2" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Della+Respira' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="banner">
    <% if user_signed_in? %>
      <%= current_user.name %> <%= link_to('Logout', sign_out_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', sign_in_path)  %> or <%= link_to('Sign Up', sign_up_path) %>
    <% end %>
  </div>
  <h1><a href="/">Tic Tac Toe</a></h1>
  <h2 id="message">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </h2>
  <%= yield %>
  <img src="/assets/boat.png" id="boat">
  <img src="/assets/water.png" id="water">
</body>
</html>
